* {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media (max-width: 600px) {
  * {
    text-align: center;
  }
}

a,
a:visited {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  transition: 200ms ease-in-out;
}

a:hover,
a:active {
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

h2 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 13px 10px;
  margin: 0;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 13px 10px;
  margin: 0;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }
}

p {
  font-weight: 400;
  color: var(--fg-grey);
  line-height: 1.8;
}

/* VARIABLES */
:root {
  --col-blue: #2937F0;
  --col-grey: #F8F9FA;
  --col-white: #FFFFFF;
  --col-dk-purple: #4D31EB;
  --col-lt-purple: #9F1AE1;
  --fg-grey: #6D767D;
}

/* HELPER */
.pad_vert_big {
  padding: 90px 0;
}

.float_child {
  position: relative;
  overflow: visible;
}

.bg-grad {
  background: linear-gradient(to right, var(--col-dk-purple) 40%, var(--col-lt-purple));
}

.app-icon-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 6px;
}

.app-icon {
  width: 180px;
  height: auto;
}

.app-icon-cont a:first-child {
  justify-self: end;
}

@media (max-width: 600px) {
  .app-icon-cont {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .app-icon-cont a {
    justify-self: center;
  }

  .app-icon-cont a:first-child {
    justify-self: center;
  }

  .pad_vert_big {
    padding: 30px 0;
  }
}

/* ANIMATIONS */
@keyframes rotate_cross_down {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(135deg);
  }
}

@keyframes rotate_cross_up {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(225deg);
  }
}

/* NAVBAR */
nav {
  background: var(--col-white);
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 13px 60px;
  /*TODO: Make scrolling scroll to correct position instead of padding fix*/
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr;
  justify-self: end;
}

.nav_elem {
  box-sizing: border-box;
  padding: 13px 10px;
  display: inline-block;
  white-space: nowrap;
}

.btn_blu,
.btn_blu:visited {
  background: var(--col-blue);
  color: var(--col-white);
  padding: 11px 17px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--col-blue);
  border-radius: 20px;
  transition: 200ms ease-in-out;
}

.btn_blu:hover,
.btn_blu:active {
  background: var(--col-white);
  color: var(--col-blue);
}

/* HERO SECTION */
#hero {
  display: grid;
  grid-column-gap: 250px;
  grid-template-columns: 2fr 1fr;
  background: var(--col-grey);
  padding: 90px 60px 0 60px;
}

#hero p {
  margin-bottom: 60px;
}

@media (max-width: 600px) {
  #hero {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 30px 30px;
  }

  #hero .float_child {
    justify-self: center;
  }

  #hero p {
    margin-bottom: 20px;
  }
}

/* PHONE IMAGE */
.phone_img {
  width: 220px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.bg_circle {
  position: absolute;
  width: 340px;
  height: 340px;
  background: linear-gradient(to bottom right, var(--col-dk-purple), var(--col-lt-purple) 85%);
  left: -60px;
  top: 50px;
  z-index: 0;
  border-radius: 50%;
}

.circle {
  position: absolute;
  top: 30px;
  left: 250px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--col-blue);
}

.cross {
  position: absolute;
  left: -100px;
  height: 4px;
  border-radius: 2px;
  width: 15px;
  background: var(--col-blue);
}

.line1 {
  top: 400px;
  transform: rotate(-45deg);
  animation: rotate_cross_down infinite 2s linear;
}

.line2 {
  top: 400px;
  transform: rotate(45deg);
  animation: rotate_cross_up infinite 2s linear;
}

.video {
  position: absolute;
  top: 14px;
  left: 15px;
  z-index: 5;
  width: 190px;
  height: auto;
}

@media (max-width: 600px) {
  .cross, .circle, .bg_circle {
    display: none;
  }

  .phone_img, .video {
    transform: translateX(-110px) scale(0.8);
  }
}

/* TESTIMONIAL */
#testimonial {
  padding: 60px 180px;
  color: var(--col-white);
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

#testimonial p {
  font-size: 1.5rem;
  color: var(--col-white);
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
}

#tnw_logo {
  justify-self: center;
  align-self: center;
  width: 140px;
  height: auto;
  padding: 0;
}

@media (max-width: 600px) {
  #testimonial {
    padding: 50px 20px;
  }

  #testimonial p {
    font-size: 1.25rem;
  }
}

/* FEATURES */
#features {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 90px 60px 60px 120px;
}

#features .float_child {
  transform: scale(0.89);
}

#features .bg_circle {
  width: 300px;
  height: 300px;
  top: 90px;
  left: -90px;
}

.feature_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

.feature {
  text-align: center;
}

.header-icon {
  font-size: 4rem;
  color: var(--col-dk-purple);
  background: linear-gradient(var(--col-dk-purple), var(--col-lt-purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 900px) {
  #features {
    grid-template-rows: 1fr 0.3fr;
    grid-template-columns: 1fr;
    padding: 30px 30px;
  }

  .feature_list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 30px;
  }

  .feature {
    justify-self: center;
  }

  #features .float_child {
    transform: translateY(-50px) scale(0.7);
    grid-row: 2;
  }

  #features .phone_img {
    left: calc((100vw - (220px * 0.7)) / 2 + 40px);
  }

  #features .video {
    left: calc((100vw - (220px * 0.7)) / 2 + 55px);
  }
}

/* ABOUT APPLICANT */
#abt {
  background: var(--col-grey);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 30px;
  padding: 80px 60px 80px 60px;
}

#content {
  padding-top: 80px;
}

#abt img {
  width: 400px;
  height: auto;
  border-radius: 50%;
}

@media (max-width: 600px) {
  #abt {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.25fr;
    grid-row-gap: 20px;
    padding: 30px 30px 130px 30px;
  }

  #content {
    padding: 0;
  }

  #abt img {
    width: 200px;
    justify-self: center;
  }
}

/* DOWNLOAD */
#dwnld-head {
  padding: 215px 60px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/build.jpg") no-repeat fixed;
  background-size: cover;
  color: var(--col-white);
  line-height: 1.3;
}

#dwnld-head h2 {
  margin-bottom: 40px;
}

.btn_white,
.btn_white:visited {
  color: var(--col-white);
  border-width: 2px;
  border-style: solid;
  border-color: var(--col-white);
  padding: 11px 17px;
  border-radius: 20px;
  transition: 200ms ease-in-out;
}

.btn_white:hover,
.btn_white:active {
  background: var(--col-white);
  color: rgba(0, 0, 0, 0.3);
}

#mob-links {
  padding: 40px 0;
}

#mob-links p {
  font-size: 1.5rem;
  color: var(--col-white);
  font-weight: 800;
  line-height: 2;
  text-align: center;
}

/* FOOTER */
footer {
  text-align: center;
  background: black;
  padding: 20px 0;
}

footer a,
footer a:visited {
  color: var(--fg-grey);
}

footer a:hover,
footer a:active {
  color: var(--col-white);
}